[2014-10-13 19:32] konik32 opened #1 "Organizacja pracy"
1. Opieramy się głównie na githubie z dwóch powodów:
   <ul><li>Wszyscy go w miarę znamy.</li>
   <li>Lepiej wszystko mieć w jednym miejscu (kod, ogłoszenia, dyskusje, problemy)</li></ul>
2. Będę starał się tworzyć milestony poszczególnych etapów z planowanym terminem ich zakończenia.
3. Jak już wspominałem wszystkie dyskusje, pytania, problemy wrzucamy tutaj w formie issues lub komentarzy. Używaj

[2014-10-15 07:23] konik32 opened #2 "Przemyślenia dotyczące projektu"
Niech każdy napiszę swoje przemyślenia dotyczące projektu (na wzór tego jak zrobił to Bartek): podział na moduły, algorytm wyszukiwania, technologie jakie moglibyśmy użyć(frameworki, biblioteki) oraz cokolwiek innego co wam przyjdzie do głowy. Piszcie w komentarzach

[2014-10-15 07:28] konik32 opened #3 "Umiejętności"
Napiszcie w komentarzach co kto z was lubi pisać (algo, serwer, część wizualną itd), w jakim języku C++/java/perl oraz jakiej technologi używał w tym języku, która mogłaby się przydać do naszego projektu.

[2014-10-15 09:03] rampler commented on #3
Ja w sumie mogę się zająć czymkolwiek, ale wolałbym nie bawić się algorytmem. Mogę klienta napisać, który byłby instalowany na komputerze.
Jeżeli chodzi o technologie to:
- Java - Spring, Hibernate, log4j, Grails
- C++ - błagam tylko nie to...
- Bazy - Postgresql to chyba każdy z nas zna i na pewno się przyda

[Edit]
Jak co to C# też może być.

[2014-10-15 09:15] rampler commented on #2
A więc ja bym to widział tak:
Projekt składałby się z czterech modułów, a mianowicie:
- Robot przeszukujący oferty i zapisujące je do bazy.
- Serwer, który kategoryzuje te dane i "uczy się", które byłby najtrafniejsze dla użytkownika.
- Klient instalowany, który wysyła zapytania do serwera o oferty i otrzymuje od niego odpowiedź.
- Klient webowy, który ma tą samą funkcjonalność.

Pierwsze powinniś

[2014-10-15 10:12] jacek22227 commented on #3
Jak dla mnie c++, jeśli cokolwiek innego to cześć wizualna, z innymi językami mało miałem do czynienia. Najlepiej jakbym miał bazę do zrobienia ;))

[2014-10-15 17:48] ghost commented on #2
Na wzór tego co zrobił bartek :+1: I jeszcze okejka :+1: za nazwę bo bardzo mi się podoba. ;D

To w końcu mamy ten temat 9 czy jeszcze będą jakieś zmiany? Trochę z nudów napiszę Wam moje przemyślenia odnośnie tego tematu jakby czasem okazało się, że nie ma licytacji i na 100% mamy ten i już nic się nie zmieni. ;p

W mojej ocenie temat 9 jest całkiem ciekawy. Głównym problemem będzie napisanie algo

[2014-10-15 18:19] ghost commented on #2
... chociaż w sumie OfferSucker też by było dobre. ;D

@rampler Natchnąłeś mnie do pytania odnośnie klienta webowego. Czym można by to było łatwo ogarnąć, żeby serwer wystawiał tylko jedno API dla wszystkich i można by się było komunikować z nim z aplikacji w JAVA czy w PHP? Jakiś SOAP, JSON, REST? Nie znam się na tym. Tak żeby się nie dublować z kodem.

Można by jakieś takie JSONowe wiadomości wy

[2014-10-15 18:44] ghost commented on #3
Dowolna cześć .NET(fajnie by było coś postawić na tym ale skoro ma to być linux to mono może nam nie wystarczyć), C++ / QT / GTK+, JAVA, PostgreSQL / MSSQL, ReportingServices, MATLAB, PHP, Python. Dowolna technologia webowa i software'owa. Wgl to jeden kij w czym i na czym jak dla mnie. Nawet tego PERLa się nauczę jak nas przyciśnie.

Ogólnie to pewnie najwygodniej dla każdego byłoby:
- JAVA SE 8

[2014-10-15 19:20] konik32 commented on #3
W wymaganiach dot. projektu jest napisane, że mamy użyć c++/java/perl.

[2014-10-15 20:02] bambalooon commented on #3
Jeśli nie mamy jakiegoś znakomitego perlowca, to ja bym trzymał się javy, programowanie w c++ zajmuje dużo więcej czasu, no i ja np. już kompletnie nie pamiętam go.
Moim zdaniem nie powinno być problemów w napisaniu części w webowych technologiach, możemy się skonsultować jutro.

Jeśli chodzi o moje skille to:
-JAVA7 - Spring, Hibernate, Maven
-PHP/HTML4/CSS/JS/jQuery - umiem coś, ale szczerze - n

[2014-10-15 20:11] bambalooon commented on #2
Nie jestem pewien jak jest w komunikacji PHP używając SOAP, ale wydaje mi się, że z RESTem nie ma problemów - niech wypowie się ktoś, kto zna te technologie.

W każdym razie - w Javie nie byłoby problemu stworzyć takie API, w REST byłoby pewnie szybciej i sprawniej.

Co do logowania to JAVA jest w stanie przenieść to na osobną warstwę i odebrać nam część tej roboty - na pewno w SOAPie, w REST racz

[2014-10-15 20:17] rampler commented on #2
@bartQH Myślę, że najlepiej to byłoby JSONem puścić (najlepsze wsparcie w wielu językach ma) w formacie takim jak napisałeś lub jako pseudo wywołanie funkcji tj.

[code]

Wtedy nawet po najprostszych socketach moglibyśmy to wysyłać, bez zaciągania zaawansowanych technologii. REST też nie jest złym pomysłem tylko czy wszyscy to ogarną? Btw. Planujemy to jakoś szyfrować, czy dajemy sobie z tym spokó

[2014-10-15 20:19] bambalooon commented on #2
REST może przyjmować i zwracać JSONa.
Pominąłbym szyfrowanie, ponieważ jest to w cholere roboty, na różnych serwerach różnie, masa kombinowania - jak nie wymaga to nie pchajmy się w to bagno.

[2014-10-15 21:10] ghost commented on #2
@bambalooon a 2xRSA wysłane w pytaniu SYN przez klienta oraz odpowiedzi SYN/ACK przez serwer nie wystarczy? Klient zaszyfruje sobie swoim, serwer rozszyfruje sobie swoim i odwrotnie. RSA wygasa z końcem sesji, a samo szyfrowanie rozpoczyna się zaraz po ACK. Można traktować wtedy publiczny klucz klienta jako jego ID, a publiczny serwera jako SID. Tylko też pytanie czy jest sens używać tego szyfrowa

[2014-10-15 23:00] konik32 commented on #2
Jeśli REST to bez logowania. Każde zapytania posiada Headera to autoryzacji, przynajmniej tak to przeważnie robiłem. Pominąłbym szyfrowanie. Co do zapytań, jeśli zdecydujemy się na RESTA to powinniśmy się trzymać standardów czyli zapytania przesyłać w GET z parametrami.

Co do mojej wizji całości.
Algo:
- z głównej strony przeszukujemy wszystkie linki
- na podstronach wyszukujemy takich samych ele

[2014-10-16 06:18] gkostalkowicz commented on #1
Temat pracy. Nie widzę go w innym miejscu na gh, więc pozwolę sobie wrzucić tutaj.

**Temat 9
Poszukiwacz ofert**

**Cel:**
Aplikacja śledząca ogłoszenia na serwisach i raportująca ogłoszenia zgodne z oczekiwaniami użytkownika

**Opis:**
Aplikacja powinna korzystać z dowolnych wskazanych serwisów – ebay, grono, gumtree itp. Nie powinno być w aplikacji sztywnych interfejsów do konkretnych serwisów,

[2014-10-16 06:55] gkostalkowicz commented on #3
Jeśli chodzi o mnie, to też Java, C++ (ale lepiej nie), PostgreSQL. Bez żadnych konkretnych technologii. Troszkę najprostszego HTML/CSS/PHP też.

Bardzo chętnię zajmę się klientem. Ewentualnie coś przy serwerze, ale na pewno nie algo.

[2014-10-16 09:35] gkostalkowicz commented on #2
Serwer. Zdecydowanie Java.

Klient.
Przede wszystkim trzeba zminimalizować ilość pracy, tak żeby klient był możliwie jeden na Windowsa i Linuxa.
- Java prawdopodobnie odpada (ma być Qt/GTK).
- .NET/Mono prawdopodobnie też (C# nie ma wymienionego w językach)
- Wyrenderować HTML w naszym okienku. Trzeba się go skonsultować, czy się tak da.
- Qt lub GTK działają i na Win, i na Linuxa. Pytanie, czy ni

[2014-10-16 19:48] ghost commented on #2
@worldofpiesels w QT czy GKT do katalogu z plikiem wykonywalnym .exe wystarczy dodać odpowiednie biblioteki .dll, więc instalacja nie powinna być problematyczna.

[2014-10-17 08:51] #2 closed, assigned to nobody

[2014-10-17 08:51] #3 closed, assigned to nobody

[2014-10-17 09:11] konik32 opened #4 "Podział pracy"
Po tym co widziałem jak piszecie, z opisanych przez was umiejętności oraz tego co chcecie/moglibyście napisać zdecydowałem o takim podziale zadań:

Algorytm:  @bartQH , @bambalooon
Klient:  @jacek22227, @Munez3
Serwer: @rampler, @konik32
WebSpider: @marcibak, @worldofpiesels

Jeśli komuś nie pasuje jego przydział to niech zostawi komentarz. @bartQH oraz @jacek22227 będziecie kierownikami swoich gr

[2014-10-17 09:17] konik32 opened #5 "Klient"
Przemyślcie w ramach grupy:
- interfejs
- jeden czy dwóch klientów (różny na każdą platformę)
- informacje jakie chcielibyście przechowywać w bazie
- Request/Response z serwerem - jaki byłby najwygodniejszy dla was
- inne rzeczy które przyjdą wam do głowy

Proszę o zapisanie wszystkich tych punktów w komentarzach.

[2014-10-17 09:21] konik32 opened #6 "PageProcessor"
Przemyślcie w ramach grupy:
- jaka będzie interakcja klienta z algorytmem
- z ilu i jakich modułów będzie sie składał
- interfejs
- jakie informacje i w jakiej formie chcecie przechowywać w bazie
- krótki opis działania algorytmu
- inne

Opiszcie wszystkie punkty w komentarzach.

[2014-10-17 09:25] konik32 opened #7 "Serwer"
Przemyślcie w ramach grupy:
- Request/Response
- technologie
- informacje jakie musimy przechowywać w bazie
- integracje z pozostałymi modułami
- inne

Opiszcie wszystkie punkty w komentarzach.

[2014-10-17 09:31] konik32 commented on #4
No trochę tak, ale lepiej żebyś robił coś na czym się znasz. Co do webowych to ustalicie w grupie.

[2014-10-17 09:33] Munez3 commented on #4
spoko, to pogadam z Bartkiem i ustalimy

[2014-10-17 09:42] konik32 opened #8 "Motywacja do pracy"
Nie mamy zbyt wielu możliwości motywowania do pracy, a chcielibyśmy zrobić projekt jak najmniejszym nakładem pracy co wiąże się z pracą całej grupy. Proponuje system pseudo kar. Oprócz projektu mamy jeszcze zajęcia, po których trzeba przygotowywać raport. Osoby słabo zmotywowane do pracy w danym tygodniu będą miały napisać kolejny raport.

[2014-10-17 09:45] konik32 commented on #8
Jako, że prawo nie działa wstecz. W tym tygodniu będą tylko upomnienia. @Munez3  oraz Marcin nie wypowiedzieliście się w #3 i #2.

[2014-10-17 09:46] konik32 commented on #4
Przydzieliłem Cie do klienta

[2014-10-17 11:58] konik32 opened #9 "Pytania do projektu"
Pojawiły się dziwne wymagania do projektu na zasadzie dowiedzcie się sami czego klient oczekuje. Wpisujcie tutaj wszystkie niejasności związane z projektem zbiorę je i wyśle do prowadzącego.

[2014-10-17 15:27] bambalooon commented on #2
@worldofpiesels Zgadzam się całkowicie z minimalizowaniem pracy - zróbmy podstawę, będzie czas to się będzie rozbudowywać, nie będzie to będziemy mieli produkt do pokazania i ładna trója.

Jeśli chodzi o tego klienta - to jako, że mamy te wymagania 'rozjaśnić' z klientem, to może warto spróbować przekonać klienta do rozwiązania javowego/webowego, tak jak w realu - w końcu klient to często wieśniak

[2014-10-17 15:59] bambalooon commented on #6
I. Interakcja klienta z algorytmem
Moim zdaniem nie powinno być żadnej. Serwer, co np. godzinę odpala algorytm(tyle jeśli chodzi o interakcję z serwerem), algorytm zapisuje oferty do bazy. Klient natomiast czyta jedynie z bazy.

II. Baza
Nie mam jeszcze konkretnego pomysłu, ale proponuje przeglądnięcie przykładowych serwisów, wyłapania części wspólnej, i na tej podstawie próbę stworzenia tabeli.

[2014-10-17 16:04] bambalooon commented on #9
Próba przekonania klienta do zrobienia klienta webowego/javowego - tu napisałem o co mi chodzi: https://github.com/stallon2/OfferSeeker/issues/2

[2014-10-17 18:51] konik32 commented on #6
W punkcie I chodziło o wymaganie dotyczące "Aplikacja powinna raportować znalezione ogłoszenia odpowiadające poszukiwaniu użytkownika – <b>a także na podstawie feedbacku od użytkownika uczyć się oceniać te ogłoszenia<b/>"

[2014-10-17 18:59] konik32 commented on #1
Nie piszcie w zamkniętych issues. #2 dotyczył pierwszego spojrzenia na projekt. Jeśli macie pomysł dotyczący konkretnego modułu piszcie w issue tego modulu.

[2014-10-18 14:41] ghost commented on #6
@bambalooon Nie zgaaaadzam się z jednym. Zajmijmy się algorytmem oceny, a nie algorytmem do wszystkiego. Niech ludzie odpowiedzialni za serwer ogarniają to z logicznego punktu widzenia, niech robią pająka internetowego itd. Naszą częścią niech będzie algorytm, który dostaje treść strony w html i na wyjściu mówi czy jest ogłoszeniem czy nie.I to będzie już bardzo dużo, bo sprawa nie będzie aż taka

[2014-10-18 20:59] ghost commented on #1
Mam prośbę odnośnie stylu programowania. Skoro w wymaganiach mamy punkt _Testy automatyczne (jednostkowe i funkcjonalne) aplikacji_ to może od razu piszmy chociaż te testy jednostkowe, żeby tego nie robić na końcu, bo to totalnie mija się z celem.

**Testy jednostkowe**
Na przykładzie dodawania:

`int Sum (int opA, int opB) {
 return opA + opB;
}`

Wiemy, że 2 + 5 daje 7:

[code]

**Testy funkcjon

[2014-10-18 21:44] bambalooon commented on #1
Jeśli chodzi o moją część algorytmu, to będę starał się pisać cały czas w TDD, bo w pracy to cały czas stosuje.
Więc jestem jak najbardziej za.

[2014-10-18 22:37] ghost commented on #6
Post będę edytował w miarę przypływu wiedzy. To jest narazie takie moje głośne myślenie i nie wiem do końca czy to ma sens. Pierwszą wersję algorytmu uogólniłbym tylko do znaczników META czyli tryb **MetaOnly** Dopiero w przyszłości można dodać divy.

**Preprocessing**
Po uzyskaniu strony w postaci HTML należy usunąć z niej nie mające dla nas sensu dane.  Podzieliłbym to na:
- usuwanie znane - prz

[2014-10-19 06:39] gkostalkowicz commented on #5
- interfejs ---> najlepiej Java lub wyrenderować HTML, bo dostaniemy tylko 1 klienta, wszystkie opcje wypisałem w #2. **Musimy jak najszybciej zapytać o to w mailu** - proponuję czekać do środy czy są nowe pytania do prowadzącego, jeśli nie to wysyłać
- jeden czy dwóch klientów (różny na każdą platformę) --->  zależy od powyższego
- informacje jakie chcielibyście przechowywać w bazie ---> tzn. kli

[2014-10-19 06:40] gkostalkowicz commented on #1
**Wymagania projektu:**
http://forum.stosowana.pl/download/file.php?id=1171

[2014-10-19 06:42] gkostalkowicz commented on #8
W ramach zmotywowania wspomnę że projekt musi być gotowy na ok. 20-21 listopada. Mamy miesiąc.

[2014-10-19 09:29] bambalooon commented on #5
REST działa na standardowych rq HTTP, więc w czymkolwiek mielibyście pisać to wsparcie jakieś będzie.
Co do klienta - jeśli przyjdzie do tego, że zablokują nam Jave i webowe, to bym zrobił na 1 platformę, a jak zdążymy to też na drugą. Będziemy mieli w ten sposób więcej do pokazania, a nie jak ostatnio, wiele rozgrzebanych modułów.
Jakbyśmy nie zdążyli to powiemy, że to była kolejna faza projektu.

[2014-10-19 11:19] rampler opened #10 "Raport 1 - Stworzenie wykresu sieciowego"
Cześć,
dziś postanowiłem trochę się pobawić z tym wykresem i powstało mi coś takiego:
![diagramsieciowy](https://cloud.githubusercontent.com/assets/3811596/4692933/394212ea-5781-11e4-907f-ecb4ec3c9848.png)

Nie wiem czy jest to dobrze, dlatego prosiłbym @bambalooon i @worldofpiesels  o sprawdzenie i ewentualne poprawienie czegoś co Wam się nie podoba. Plik MS Visio możecie pobrać stąd:
https://dri

[2014-10-19 11:35] rampler commented on #7
A więc może tak wstępnie:
- nie wiem czy najlepszym rozwiązaniem nie będzie res/req oparty na socketach i wysyłający zapytania jak i odpowiedzi w postaci JSON. Dobrze byłoby się dowiedzieć, czy komunikacja ma być synchroniczna, czy asynchroniczna, bo jak ta druga to można użyć brokera wiadomości(ZeroMQ ma wsparcie dla wielu języków)
- technologia - na pewno Java - nad resztą można się później zast

[2014-10-19 11:38] rampler commented on #9
Komunikacja synchroniczna/asynchroniczna? Wspomniane w: #7

[2014-10-19 16:16] bambalooon commented on #10
Rozumiem, że to powinien być harmonogram przed wykonaniem zadania...
Ale mimo wszystko powinien on chyba częściej zakładać delay, w zasadzie idealnie jest chyba zrobić na podstawie tego co było w realu.
@konik32 pilnowałeś czasu - mógłbyś podać szacunkowe czasy tych akcji?
Pamiętam, że wg. harmonogramu mieliśmy na początku robić 5min pierwsze 2! wsporniki, każda grupa - może warto by to też podzie

[2014-10-19 16:19] konik32 commented on #10
Czasy: 0-6 min cztery grupy robiły moduły, 6-12 dwie grupy robiły nogi, pozostałe dwie dalej moduły, 12-15 przyklejanie podstaw i rozpórek.

[2014-10-19 16:25] bambalooon commented on #10
Ok, dzięki - o to właśnie mi chodziło.
Czyli w pierwszym mamy 1min opóźnienia wzg. planu, można w harmonogramie dać bezpiecznie nawet 2min.

[2014-10-19 16:46] rampler commented on #10
Tylko trzeba pamiętać, że ścieżka krytyczna musi mieć chyba zawsze opóźnienie 0 jeżeli się nie mylę. Przynajmniej w każdym przypadku jaki widziałem tak było.

[2014-10-19 16:54] konik32 commented on #6
Po co sobie utrudniać, życie i pisać algorytm decydujący czy coś jest ogłoszeniem czy nie? Piszecie algorytm uniwersalny, który pobiera strony które mogą być ogłoszeniem(np poprzez powtarzalność). Zapisujecie je z odpowiednimi ID kategoryzujecie je. To użytkownik decyduje o tym czy dostał ogłoszenie czy nie i co w tym ogłoszeniu jest tytułem, ceną, wagą, rokiem produkcji. Moim zdaniem tym sposobem

[2014-10-19 17:02] konik32 commented on #6
Co do tego, żeby ludzie odpowiedzialni za serwer pisali pająka internetowego to nie uważam to za dobry pomysł. Stwierdziliśmy, że chcemy na początku przygotować podstawową wersję, żeby już coś mieć do pokazania. W związku z tym każdy musi zrobić podstawową wersję swojego modułu. Jeśli powstanie serwer, a z algorytmem będzie za dużo pracy zrobimy przetasowania tak jak podczas budowania wieży.

[2014-10-19 20:45] ghost commented on #6
@konik32 Przeglądnij sobie kilka serwisów ogłoszeniowych i zobaczysz, że nigdzie nie ma struktury tak prostej o której pisałeś. Przykładowo dostajesz www.gumtree.pl/cp-produkty-zywnosciowe/praga-poludnie/dzemy-i-soki-okazja-612559880 jak chcesz napisać algorytm usuwający zbędne dane, żeby dla dowolnej strony wychodziło Ci coś podobnego do tego co napisałeś? Dane mogą być w różnych miejscach meta,

[2014-10-19 22:06] konik32 commented on #6
Nie napisałem zbyt jasno o co mi chodziło. Pobieramy stronę z ogłoszeniem znajdujemy jakikolwiek tekst, który ona wyświetla. Identyfikujemy(id, klasa, cokolwiek) elementy, które zawierają tekst i nie ma znaczenia jak bardzo skomplikowana jest struktura strony. Tym identyfikatorom przypisujemy liczby. Wyświetlamy użytkownikowi cały tekst tej strony(oczywiście możemy pominąć headery(nie bawił bym si

[2014-10-19 22:11] konik32 commented on #6
@bartQH jeśli możesz to przynieś laptopa(mój się na mnie często obraża i się nie oddzywa przez 10-20 min, a potem jest ok) to pokaże o co mi chodzi na podstawie strony, którą podałeś.

[2014-10-19 22:11] bambalooon commented on #6
@bartQH jeśli takie są wymagania jak mówisz to ok. Myślałem przez chwile, że trochę inaczej to ma wyglądać.
Pasuje mi ten układ, że dostajemy tylko stronę, którą mamy ocenić.
Odnośnie tych meta tagów, to wydaje mi się, że proste sprawdzenie, czy słowa z tagów powtarzają się w tekście już nam powie, że dane tam są dość wartościowe - prawda taka, że to jak meta są wypełnione zależy tylko od develope

[2014-10-19 22:25] konik32 commented on #6
Panowie podstawową rzeczą, którą chciałbym żebyście zrobili jest napisanie algo, które przeglądnie np gumtree i wyciagnie z niego strony, które mogą być ogłoszeniami. Nie ważne w jakim formacie to będzie, może to być nawet html bez żadnych modyfikacji. Mając to zrealizujemy podstawowe wymaganie projektu, potem dodamy reszte.

[2014-10-20 11:24] konik32 commented on #9
Czekam do jutra(21.10.14) na pytania.

[2014-10-20 11:33] konik32 opened #11 "Moduł WebSpider"
@worldofpiesels @marcibak jest do napisania nowy moduł WebSpider polegający na znalezieniu wszystkich linków w zadanej domenie np. gumtree.pl. Moduł za każdym jego wywołaniem powinien zwracać ograniczoną liczbę linków w danej kategorii(np wszystkie linki z 10 pierwszych stron) pomijać linki zwrócone w poprzednich wywołaniach. Wpisałem w google webspider java i pierwsze co mi wyskoczyło to crawler4

[2014-10-20 14:30] gkostalkowicz commented on #11
Żeby była pewność że się dobrze rozumiemy :) Ma to działać w ten sposób?

**Przykładowe wejście** (dostaliśmy 3 strony do przejrzenia)
http://www.gumtree.pl/fp-pokoje-do-wynajecia/c9000
http://www.gumtree.pl/fp-pokoje-do-wynajecia/c9000?Page=2
http://www.gumtree.pl/fp-pokoje-do-wynajecia/c9000?Page=3

**Przykładowe wyjście** (czyli wypisujemy WSZYSTKIE linki z danego adresu, np. linki z nagłówka s

[2014-10-20 14:35] gkostalkowicz commented on #5
Jeśli zablokują i Javę, i web, to jeszcze jest opcja np. GTK, Qt, wxWidgets, które działają na obie platformy.

@konik32 Utwórzmy osobny issue to przedyskutujemy tam wspólnie komunikację klient-serwer.

[2014-10-20 18:22] bambalooon commented on #9
Do godziny?
Nie pytałbym się jego o tą komunikację synch/asynch - myślę, że w naszym przypadku jest to dość naturalne - co gdzie, a nie chcielibyśmy, żeby z dupy coś nam powiedział, a potem będziemy musieli się tego trzymać. Lub bawić się w "przekonywanie klienta do swojej racji".
Nawiasem mówiąc, myślę, że jak potraktujemy w mailu/rozmowie go jak klienta - będziemy go próbowali przekonać do swoic

[2014-10-20 18:22] bambalooon commented on #4
![001](https://cloud.githubusercontent.com/assets/5886748/4706590/0d8e4b68-5886-11e4-81f7-68e13bc9a410.jpg)
Talentu nie mam, ale myślę, że jest zrozumiałe :P

[2014-10-20 18:30] bambalooon commented on #11
Nie. Dostajecie link: gumtree.pl - i macie przy każdym wywołaniu zwracać określoną liczbę nowych stron.

[2014-10-21 06:17] gkostalkowicz commented on #11
1) Wciąż nie wiem - czy ten moduł ma być w jakikolwiek sposób inteligentny, czy nie. Tzn. ma rozróżniać linki z ogłoszeniami od linków z nagłówka lub ze stopki? Czy ma po prostu zwracać każdy link na który się natknie?
@konik32 napisałeś że mają to być linki z danej kategorii (dostajemy link do kategorii) @bambalooon napisałeś że dostajemy link np. do strony głównej.

2) Gdzie możemy przechować in

[2014-10-21 09:56] ghost commented on #9
Też się z tym zgadzam @bambalooon. Też wydaje mi się, że tego typu pierdoły nie powinny go (jako klienta) obchodzić. Powinien być zorientowany raczej na rezultat końcowy, a nie sposób jego uzyskania. No ale zobaczymy jak to będzie wyglądać w praktyce. ;D

[2014-10-21 10:03] ghost commented on #11
@up - Dostajecie link do jakiegoś serwisu. Może to być nawet google.com. Obojętne. Macie to jakoś przeszukać i na każde zawołanie serwera zwrócić ileś tam linków, których serwer jeszcze nie posiada. Nie dbajcie o to czy to będzie link do reklamy, wydarzenia, pogody czy ogłoszenia. Ważne jest tylko to, żeby ten link odnosił się do **treści pisanej** np. mam namyśli coś HTMLowego (a nie np. reklamy

[2014-10-21 10:24] ghost commented on #1
Mam propozycje utworzenia milestone z dość krótkim deadline do utworzenia interfejsów swoich modułów

[2014-10-21 10:52] ghost commented on #6
Mam pomysł odnośnie wycinania treści samego ogłoszenia. Na początku na mocku będzie to tylko meta data dla gumtree.

Później możemy po pierwsze usuwać script i style , po drugie wyciągać tylko zawartość z wartości properties (np. z `<div property="xxxkasklsdfjdklsfjsdf" />`  wyciągniemy xxxkasklsdfjdklsfjsdf) lub zawartość wewnątrz takich elementów, które **nie** mają dzieci (np. `<div>blablabla<d

[2014-10-21 13:38] konik32 commented on #1
@up będzie zrobione dzisiaj wieczorem

[2014-10-21 14:57] bambalooon commented on #11
Tak jak napisał @bartQH . Możecie poznać to np. po rozszerzeniu - html, php, itd. Lub zaglądając w nagłówek HTTP.

[2014-10-21 17:15] bambalooon opened #12 "GitHub Uprawnienia"
Mamy na pewno wszyscy odpowiednie uprawnienia? Próbowałem właśnie spushować coś i nie jestem w stanie - pamiętam, że dość często z tym miałem problem na githubie, więc myślę, że to to.
Ja nie znam rozwiązania - zawsze dawałem dostęp do swojego konta po prostu :P

Edit:
Wyczytałem, że pierwszy commit przez właściciela repo może rozwiązać problem.
Mógłbyś scommitować np. README.md?

[2014-10-21 19:12] ghost commented on #6
Może damy do interfejsu 'I'? :D IPageProcessor. @bambalooon  pozmieniaj coś w mojej wizji (jeśli coś nie będzie pasować, nazewnictwo, pomysł, whatever) i commitujemy. ;)

Pytanie - getOffer zwraca Offer lub Null czy jakiś inny pomysł obsługi braku oferty?

[code]

Generalnie zaznaczam, że w naszej części może się coś zmienić z czasem chociaż tego nie planujemy. ;)

[2014-10-21 19:18] #12 closed, assigned to nobody

[2014-10-21 19:19] bambalooon commented on #1
Proponuje jako serwer wykorzystać jboss'a.
ORM: Hibernate
I do bazy postgress'a - mamy to dość świeże.

[2014-10-21 19:55] bambalooon opened #13 "Server + WebSpider + PageProcessor"
Szablon serwisu został umieszczony na GitHubie - można go sobie już spokojnie sklonować.

Jeśli używacie jakiegoś innego IDE niż Intellij to proszę, dodajcie jego pliki do .gitignore i uważajcie, żeby takie rzeczy nie zostały scommitowane, bo to często potrafi pokomplikować pracę innych.
W tym momencie wykluczyłem wszystkie pliki Intellij i wydaje mi się, że Eclipse'a też są wykluczone, ale na wsz

[2014-10-21 21:54] konik32 commented on #13
Jak już ustaliliśmy serwer będzie odpalony na jettym, dzięki będzie się on odpalal jak zwykła aplikacja bez żadnego deployowania. Do całości użyjemy spring boota gdzie konfiguracja serwera odbywa się automatycznie.

Co do stawiania serwera, każdy będzie sobie go mógł odpalić u siebie i przetestować, podając tylko scieżkę do bazy, użytkownika i hasło. Poza tym przypominam, że zanim cokolwiek podłąc

[2014-10-21 22:14] bambalooon commented on #6
Co do starszego posta @bartQH to się nie rozpędzaj tak :P - podstawa i wakacje! :D
Co do kodu - już widać styl C# w tym co mówisz :) - Może być.
Weź po prostu to scommituj, nie przejmuj się, jak mi coś nie będzie pasować to poprawie i scommituje. A dzięki temu inni będą mieli jakiś punkt odniesienia.
Dodaj do tego testy jak możesz, jak nie miałeś do czynienia z junitem, to wcommituj co masz, a ja

[2014-10-21 22:16] bambalooon commented on #13
Aha - nie dotarło do mnie nic na temat tego jetty.
Co do ORM, to się zastanawiam po prostu czy w tak lekki bazodanowo projekcie ma to sens.. Z konfiguracją Hibernate'a czasem może być dużo problemów, a to co robimy na bazie to podstawy.
Oczywiście nie mówię nie, tylko się 'głośno' zastanawiam.
Jaka jest przewaga Jettiego nad JBossem?

[2014-10-21 22:18] konik32 commented on #13
Ja wszystko skonfiguruje, Wy komunikujecie się z serwerem poprzez interfejs obsługa bazy jest po naszej stronie.

[2014-10-21 22:46] konik32 commented on #13
Skonfigurowałem serwer, hibernate(na razie na mysql, jak zainstaluje postgresa to mogę zmienić) serwer odpalamy przez klase Application. Możemy sprawdzić czy działa na localhost:8080. Co do bazy danych proponuje użyć hsqldb file database. Nie trzeba instalować żadnego serwera. Pozbywamy się kłopotu pobierania pakietów i tworzenia bazy na serwerze. Co Wy na to?

[2014-10-21 22:50] konik32 commented on #1
Serwer: jetty -postawione
ORM: hibernate -postawione
Baza: na razie mysql, jutro może być postgresql, ale proponuje hsqldb file database (powód w #13)
Dzisiaj wypróbowałem bardzo pomocną biblioteke http://projectlombok.org/ i stwierdzam, że można byłoby ją użyć.

[2014-10-21 22:53] konik32 commented on #1
Prosiłbym o nie zmienianie konfiguracji pomów. Oczywiście można dodawać dependecies i pluginy, ale proszę nie zmieniać tego co już jest. Jeśli chcecie zmienić coś w czyimś module zróbcie brancha.

[2014-10-21 23:03] konik32 opened #14 "Podstawowa wersja WebSpidera"
1. Do zrobienia dwa interfejsy do komunikacji z serwerem:
   - wywoływanie webspidera
   - zwracanie danych
2. Wersja powinna umożliwiać pobranie linków z co najmniej jednej strony np: gumtree.pl. Liczba linków może być określona na razie na stałe np. 1000. Linki mogą być dowolne.

[2014-10-21 23:07] konik32 opened #15 "Podstawowa wersja PageProcessora"
1. Trzy Interfejsy do komunikacji z serwerem:
   - wywoływanie algorytmu
   - obsługa feedbacku od użytkownika
   - zwracanie danych
2. Wersja powinna umożliwiać ocenę czy coś jest ogłoszeniem czy nie (mniej lub bardziej trafnie) i zwracać je przynajmniej jako html.

[2014-10-21 23:13] konik32 opened #16 "Podstawowa wersja serwera"
1. Zmockowane odpowiedzi dla klienta
2. Rejestracja/logowanie użytkownika
3. Podstawowy model bazy

[2014-10-21 23:18] #9 closed, assigned to nobody

[2014-10-21 23:19] #4 closed, assigned to nobody

[2014-10-21 23:27] bambalooon commented on #16
Tak w zasadzie - to rejestracja jest konieczna? Nie wystarczy, że serwer wygeneruje UUID i wyśle go klientowi, który zapisze sobie go i już zawsze będzie go używał do komunikacji?
Nie potrzebujemy jakoś specjalnie autoryzacji - nie mamy żadnych 'zaufanych danych',
a szkoda tracić czas na dodatkową robotę - każdy wie, ile razy łatwiej jest napisać serwis bez autoryzacji. No i ja osobiście jak mam j

[2014-10-22 00:04] konik32 commented on #16
Klient ma być wieloplatformowy więc UUID odpada. Użytkownik musi mieć co najmniej swój login. Rejestracje zrobiłbym najprostszą: podajesz login serwer sprawdza czy taki istnieje i cie rejestruje albo nie.

[2014-10-22 08:40] ghost commented on #13
A ja mam jeszcze jedną uwagę - też zdecydowanie wolę postgresql, ale rozważcie też to, że skoro i tak postawimy orm to mamy przecież dostęp z agh do mysql, który stoi ciągle online za darmo. ;)

EDIT: a zresztą chyba nawet do postgresql mamy dostęp tylko trzeba chyba mieć ip z agh, nie wiem czy z mysql nie jest podobnie. ;C

[2014-10-22 09:39] bambalooon commented on #13
@konik32 jeśli działa to nie mam uwag.
MySQL też mi pasuje, a jak mamy Hibernate to jest to w zasadzie nieistotne.

@bartQH odnośnie tego AGHowego MySQL/Postgresa to:
1. Szkoda czasu na zabawę z konfiguracją.
2. Może być wolny/zamulać, gdyż będziemy wysyłać dość dużą ilość danych do niego, na lokalu mimo wszystko wygodniej - przynajmniej jeśli się da tak jak @konik32 mówi.

[2014-10-22 09:45] bambalooon commented on #16
Ok, to pozostańmy przy unikalnym loginie - nic więcej nie jest potrzebne, może to być e-mail.
Uważam też, że powinniśmy mieć w bazie pole timestamp, które będzie nam mówiło, kiedy to ogłoszenie zostało utworzone.
I wtedy w tabeli klienta, będziemy mieli oprócz jego username, będziemy mieli timestamp lub ID ostatniego pobranego ogłoszenia(wtedy timestamp zbędny). W ten sposób klient gdy zostanie ur

[2014-10-22 09:46] konik32 commented on #13
Dobra to na razie postawie HSQLDB zobaczymy jak to będzie działać potem się najwyżej zmieni na cos innego

[2014-10-22 09:48] bambalooon commented on #15
Moim zdaniem dane nie powinny być zwracane jako HTML - nie o to chodzi w naszym module.
Powinniśmy tak jak napisał @bartQH w #6 zwracać wygenerowane ID, wyekstraktowany opis i w przyszłości więcej.
Ewentualnie podział naszego serwisu na dwa moduły - wtedy nasz serwis zwraca tylko true/false - które mówi czy dostaliśmy ogłoszenie czy nie.
Natomiast nowy serwis zajmie się ekstrakcją danych z ogłosze

[2014-10-22 09:52] konik32 commented on #15
HTML miał być tylko podstawową wersją, żeby coś było. Jeśli uda wam się wyciągnąć opis to super.

[2014-10-22 09:59] konik32 commented on #15
Postarajcie się pisać swoj moduł  tak aby działał na wielu wątkach(jak najwięcej singletonów, jeśli się nie uda to dla każdego zapytania twórzcie nowy obiekt). Jeśli się nie uda to trudno, ale miejcie to na uwadze.

[2014-10-22 09:59] konik32 commented on #14
Postarajcie się pisać swoj moduł  tak aby działał na wielu wątkach(jak najwięcej singletonów, jeśli się nie uda to dla każdego zapytania twórzcie nowy obiekt). Jeśli się nie uda to trudno, ale miejcie to na uwadze.

[2014-10-22 11:39] konik32 commented on #16
Zakładając, że pobieramy i zapisujemy wszystkie ogłoszenia to autoryzacja użytkownika nie jest potrzebna. Jeślibyśmy natomiast zapisywali tylko te ogłoszenia które pasują do słów kluczowych podanych przez użytkownika to musielibyśmy ją zrobić.

[2014-10-22 14:31] bambalooon commented on #16
Więc nie dodawajmy sobie tej roboty - przynajmniej na razie.
I z naszej rozmowy wynika, że nie takie jest wymaganie projektu.

EDIT:
Spring boot wymaga wersji javy 1.8? Czy to Twoja preferencja @konik32 ?
Bo szczerze, zdecydowanie wolę 1.7, i nie chcę tracić czasu na rozkminianie jakiś lambd i innych pierdół, bo wątpię, żeby było w niej coś co warto by wykorzystać w naszym projekcie.

EDIT:
Serwer

[2014-10-22 14:32] bambalooon commented on #15
Oczywiście tak zrobimy, ja już sobie ustawię beany w springu.
Będzie też to wzór dla ludzi, którzy ze springiem nie mieli do czynienia.

[2014-10-22 17:18] bambalooon commented on #13
Dodałem interfejs i wstępny model dla PageProcessor'a, skonfigurowałem naszego głównego beana.
Zmieniłem wersje javy na 1.7, bo pewnie tak jak większość nie mam javy 1.8.

@konik32
Możesz powiedzieć mi/nam jak odpalić tego jettiego? Czy jest to jeszcze nie możliwe?

[2014-10-22 18:20] konik32 commented on #13
Odpalasz normalnie jako java application klasę `pl.edu.agh.offerseeker.Application` i działa. Baza danych tworzy się w folderze domowym użytkownika.

[2014-10-22 18:30] konik32 commented on #1
Starajcie się nie używać xml, a już na pewno nie do konfiguracji http://examples.javacodegeeks.com/enterprise-java/spring/beans-spring/spring-3-java-config-example/

[2014-10-22 21:00] rampler commented on #10
Wykresy poszły na mail.

[2014-10-22 21:00] #10 closed, assigned to nobody

[2014-10-23 06:17] bambalooon commented on #1
Musimy się też dowiedzieć, czy możemy użyć jakiegoś cudzego rozwiązania w naszym projekcie, sprawdzić jego i naszą licencję...

[2014-10-23 18:24] ghost commented on #15
Podstawowa wersja PageProcessora z testami jest już gotowa. Ewentualnie jakieś poprawnki jeszcze nanieść w kodzie. Pobiera url z adresem strony. Szuka ogłoszenia. Pobiera ogłoszenie. Wywala z niego znaczniki formatujace i zwraca ogłoszenie jako czysty tekst.

Etap II - zapis plików do bazy danych. Zapisywanie ocen od użytkownika.

Etap III - utworzenie preprocessora, który powycina ze słów polskic

[2014-10-23 18:27] ghost opened #17 "Podstawowa wersja WebPagePuller"
Już jest dostępna wersja podstawowa WPP - dostaje link w postaci URL, zwraca String.

Etap II - można rozbudować o konwersje String->Xml, żeby użyć łatwo XPath.

[2014-10-23 18:28] #15 closed, assigned to nobody

[2014-10-23 18:28] #17 closed, assigned to nobody

[2014-10-23 18:30] ghost commented on #6
Tak jak pisałem w #15 :

Podstawowa wersja PageProcessora z testami jest już gotowa. Ewentualnie jakieś poprawki jeszcze nanieść w kodzie. Pobiera url z adresem strony. Szuka ogłoszenia. Pobiera ogłoszenie. Wywala z niego znaczniki formatujące i zwraca ogłoszenie jako czysty tekst.

Etap II - zapis plików do bazy danych. Zapisywanie ocen od użytkownika. Utworzenie struktury plików. Przemyślenie gd

[2014-10-23 18:32] ghost opened #18 "WebPagePuller"
Jak pisałem w #17:

Już jest dostępna wersja podstawowa WPP - dostaje link w postaci URL, zwraca String.

Etap II - można rozbudować o konwersje String->Xml, żeby użyć łatwo XPath, a nie jechać liniami.

Bo nie powiem co mnie trafia jak próbuję przekonwertować zwykłego Stringa z niepoprawną stroną html do XML... Może nie będę na forum publicznym brzydko się wypowiadał o tym jak super w niej mi się

[2014-10-23 18:44] ghost commented on #16
Jeśli dotrwamy do końca to w PageProcessor stworzymy specjalną metodę zliczającą, którą będziemy używać do nauki komputera. Łatwo będzie można ją wykorzystać np. do pobierania jak najtrafniejszych ofert na podstawie słów kluczowych. I wtedy w bazie zapiszemy słowa kluczowe i ewentualnie liczba ogłoszeń dla usera. Ale to ostatni etap. Póki co niech będzie jakaś wersja podstawowa.

[2014-10-23 18:54] ghost commented on #1
btw. umie ktoś zmienić autora commitów na gicie z Bartłomiej Hebda na bartQH? :P

[2014-10-23 19:10] bambalooon commented on #1
git config --global user.name "Jan Nowak"

[2014-10-23 19:44] konik32 commented on #13
Udostępnianie użytkownikowi tylko tych ogłoszeń, które chce widzę w taki sposób:
Pobieramy i zapisujemy wszystkie ogłoszenia, które znajdziemy. Indeksujemy ich treść w bazie przy użyciu hibernate search. Użytkownik za każdym razem podaje do requescie do serwera keywordsy, po których wyszukujemy ogłoszenia w bazie i zwracamy mu je. W tym rozwiązaniu odpada etap III o ile dobrze zrozumiałem o co w n

[2014-10-23 19:44] konik32 commented on #16
@bartQH mówił kiedyś, że chciał spróbować javy 1.8 to ją dodałem. Nie znam jeszcze 1.8, więc jak dla mnie również może być 1.7.

Pageable pobiera z querystringa parametry size(ile zwrócić elementów) oraz page(od którego zacząc), więc to użytkownik decyduje czy chce przeglądać starsze czy nie.

Co do keywordsów napisałem w #13

[2014-10-23 20:38] bambalooon commented on #16
Sory @bartQH - to ja ją usunąłem, bo nie chciało mi się jej instalować...

@konik32 teraz widzę, że to co mówiłem wczoraj o ID nie jest potrzebne, w ten sposób co proponujesz też może być zaimplementowane.

[2014-10-23 20:52] bambalooon commented on #13
@konik32 popieram.

[2014-10-24 00:43] konik32 opened #19 "GumtreePageProcessorTest wywala się"
Zerknij na to.

[2014-10-24 16:00] konik32 opened #20 "Podstawowa wersja klienta"
Zachara odpisał mi:
<i>OK. Przyjmuję argumentację o konieczności korzystania z internetu. Niemniej
jednak GUI WWW jest z reguły dużo mniej wygodne / eleganckie niż to co można
przy pomocy aplikacji lokalnych. Widziałem w życiu zaledwie kilka aplikacji WEB które miały podobnie zaawansowany/wygodny interfejs co aplikacje desktopowe. Pewnie zależy to od użytych bibliotek. Możecie zaproponować jakieś

[2014-10-24 16:58] gkostalkowicz commented on #11
Rozmawialiśmy już z @konik32 i znam szczegóły. Podzielę się pierwszymi wrażeniami, bo przez jakiś czas to rozkminiałem.

Stworzenie prostego crawlera nie jest jakąś wielką rzeczą. Dużo większy problem jest z ograniczaniem liczby linków z każdej kategorii (np. po 10 stron albo 100 najnowszych ogłoszeń z każdej kategorii, np. "Wynajmę"). Wtedy z definicji crawler staje się inteligentny i musi umieć

[2014-10-24 17:34] ghost commented on #19
![4](https://cloud.githubusercontent.com/assets/7264775/4773660/1df0ff9c-5ba5-11e4-8445-35c00f04296d.png)
tzn?

[2014-10-24 17:45] konik32 commented on #11
Tak

[2014-10-24 17:56] bambalooon commented on #11
@worldofpiesels moim zdaniem nie ma takiej potrzeby, żebyście zwracali po 100 linków z różnych kategorii - wystarczy, że będą to nowe linki. Jeśli taki crawler będzie stosunkowo równolegle działał i odwiedzał wiele linków naraz z jednej strony to automatycznie, prawdopodobnie przejdzie po różnych kategoriach.

[2014-10-24 17:57] bambalooon commented on #19
@bartQH + za Intellij :D

[2014-10-24 17:59] ghost commented on #19
@bambalooon Hehe ale wyłączyłem dark theme tym razem i w sumie pracuje się troszkę lepiej za dnia. ;p

Co z tym błędem?

[2014-10-24 18:13] konik32 commented on #19
![image](https://cloud.githubusercontent.com/assets/6044569/4774069/70150b0c-5ba9-11e4-9442-06a89d6e0693.png)

[2014-10-24 18:19] ghost commented on #19
Zobacz kodowanie. Popatrz jak masz zapisane Male[ństwa, w kodzie jest po polsku, bo nie robiłem żadnych mocków cudów wianków bazy, pliki tylko czysto w kodzie. Pewnie z serwera ściąga się w normalnym kodowaniu i porównuje ze złym. Na gicie też jest kodowanie ok. Sprawdź eclipse. ;p

[2014-10-24 18:30] konik32 commented on #19
Kodowanie mam utf-8

[2014-10-24 18:31] ghost commented on #19
No ale ogarnij ten napis co tam robi ten '[' mam tak:
`private String refDescription = "Maleństwa z ulicy pilnie szukają DT lub DS! PILNE! Na podwórku nie mają szans! <br/>Uratujcie je przed zimą! Maluszki mają około 3 miesiące, mają przed sobą całe życie, potrzebują jedynie pomocy! Kociaki znajdują się w Łomiankach. tel:796096481";`

[2014-10-24 18:31] konik32 commented on #19
W kodzie jest ok.

[2014-10-24 18:32] ghost commented on #19
a mógłbyś wkleić co porównuje i z czym?

[2014-10-24 18:34] konik32 commented on #19
Jak odpalam Junitem to jest ok. Coś musi być z kodowaniem mavena. Popatrze na to jutro bo zaraz wychodzę

[2014-10-24 18:35] ghost commented on #19
No widzisz? Problem solved. ;D

[2014-10-24 18:36] #19 closed, assigned to nobody

[2014-10-24 18:45] konik32 commented on #19
Dodałem plugina z kodowaniem. Teraz problem solved :P

[2014-10-26 14:45] gkostalkowicz commented on #14
Wrzuciłem wstępnie interfejs (może się jeszcze coś zmienić) + model, czy są ok?
Mam nadzieję że dziś uda mi się wrzucić implementację.

[2014-10-26 16:09] konik32 commented on #14
Nie do końca. Nie mogę pobierać z bazy wszystkich odwiedzonych dotąd linków i przesłać to w jednym `Set`. Czytałeś o tym crawler4j, który Ci podesłałem? https://code.google.com/p/crawler4j/wiki/FrequentlyAskedQuestions tutaj jest napisane, że nie trzeba przechowywać odwiedzonych linków, ten crawler robi to za nas.

[2014-10-26 17:01] bambalooon commented on #14
Zainteresujmy się w ogóle tym, czy możemy użyć czyjegoś rozwiązania w tym projekcie...
Na jakiej to jest licencji i jak współgra z naszą.

[2014-10-26 20:17] gkostalkowicz commented on #14
Rzucę okiem czy można korzystać z bazy tego crawlera.
Crawler4j jest na Apache License 2.0, czyli możemy go użyć ale trzeba umieścić gdzieś tą licencję na widoku. Dobrze że zwróciłeś uwagę :)

[2014-10-26 22:46] ghost commented on #1
sorry musiałem dodać poma z parserem html bo już mnie szlag jasny trafiał przy tej dżawie.

[2014-10-27 15:32] gkostalkowicz commented on #14
Powracając do przechowywania już odwiedzonych linków.

Sprawdzałem i niestety nie da się skorzystać z tego mechanizmu który ma crawler4j. On zapamiętuje to tylko w obrębie pojedynczego crawla. Można co prawda crawla zatrzymać i potem do niego powrócić, ale są z tym problemy:
1) jeśli znalazłby duplikat, to nawet go nie czyta (np. drugi raz chcielibyśmy wejść w tą samą kategorię, ale z góry nam ją

[2014-10-27 16:41] bambalooon commented on #14
No tylko trzeba też jakoś odróżnić strony, na które chcemy, żeby wszedł ponownie - np. kategorie.

[2014-10-27 17:54] konik32 commented on #14
Pobieranie całości do jednego seta nie podoba mi się strasznie. Już lepiej odpytywać bazę o każdy nowy znaleziony link.

[2014-10-27 19:57] gkostalkowicz commented on #14
@bambalooon dlatego ręcznie trzeba śledzić te linki, na które weszliśmy, a nie przez crawler4j. Więc będzie okej.
@konik32 Nie wpadłem że możemy odpytywać bazę o każdy link, w sumie lepiej się to skaluje szczególnie jeśli mamy dużą historię linków w porównaniu do pojedynczego crawla (np. po 100 crawlach). Plik tekstowy z 1000 linków z gumtree ma 63 KB, sporo. To możemy zmienimy interfejs żeby zaws

[2014-10-28 11:06] konik32 commented on #14
Tak

[2014-10-28 12:11] gkostalkowicz commented on #14
Wrzuciłem działający kod.

Pytanie: co robimy z JAR-ami, które potrzebuje crawler4j, jest tego 5 MB - wrzucać do repo?

Co działa: można poprosić WebSpidera o ileś nowych linków z danego serwisu które zwraca. Pomija duplikaty, które obsługuje interfejs WebSpider.VisitedUrlsDatabase.

Przetestowane: na Gumtree, zrobiłem dwie crawle:
1) pierwszy poprosiłem o 1000 linków - zwrócił kategorie jak i ogł

[2014-10-28 15:07] konik32 commented on #14
Dodałem nowego brancha ze zmianami interfejsu WebSpider oraz konstruktora klasy WebSpiderImpl. Metoda crawl nie przyjmuje obiektu typu VisitedUrlsDatabase. Jest to singleton i powinien być podawany w konstruktorze dlatego tam go przeniosłem. Dodatkowo konstruktor przyjmuje parametry konfiguracyjne, które pobiera z pliku properties. @worldofpiesels oceń te zmiany i jeśli niczego nie zepsuły zrób me

[2014-10-29 00:18] #16 closed, assigned to nobody

[2014-10-29 00:18] #14 closed, assigned to gkostalkowicz

[2014-10-29 08:26] konik32 commented on #20
Jak idzie pisanie klienta? Kiedy możemy zobaczyć podstawową wersję?

[2014-10-29 11:09] konik32 commented on #20
Komunikacja z serwerem jest RESTowa. Odpytujecie serwer http://localhost:8080/api/offers?keywords, który zwraca wam listę ofert w JSON. Na razie oferta zawiera dwa atrybuty tytuł i opis. Dojdzie do tego url i wszystko to co uda się z oferty wydzielić. Dodatkowo musicie napisać obsługę ocen użytkownika. Użytkownik zaznacza, która oferta jest ofertą a która nie i wysyłacie to na serwer.

[2014-10-29 19:54] konik32 opened #21 "PageProcessor etap II"
Moduł powinien:
- zwracać czy zadany link jest ogłoszeniem czy nie niezależnie od portalu
- uczyć się na podstawie ocen od użytkownika
- wstępne wycinanie fragmentów z ogłoszenia typu (tytuł, zawartość) - jeśli wyjdzie

[2014-10-29 20:02] konik32 opened #22 "WebSpider etap II"
Moduł powinien:
- zwracać określoną liczbę linków w każdej z kategorii np: crawl(gumtree.pl, 100) i zwraca seta  w, którym znajduje się 100 x liczba kategorii na stronie(mieszkania, działki, samochody) linkami do ogłoszeń, ewentualnie jeśli mu się uzbiera 1000 ogłoszeń powinien wywołać zapis do bazy
- ignorować linki z paginacją tzn nie powinien ich zapisywać do bazy np http://www.gumtree.pl/fp-ag

[2014-10-29 20:03] konik32 opened #23 "Serwer II etap"
Moduł powinien:
- obsługiwać oceny użytkownika
- zbierać i udostępniać statystyki

[2014-10-30 07:03] gkostalkowicz commented on #22
Na razie zostawiam to dla @marcibak :)
Na boku-nie wiem czy uda się to zrobić, bo tak jak mówiłem z tego robi się inteligentny crawler przystosowany do każdej strony.

[2014-10-30 09:45] konik32 commented on #22
Co do drugiego punktu, to jeśli pageprocessor będzie działał poprawnie to mogę sprawdzać czy strona została odwiedzona tylko w tabelce z potwierdzonymi ogłoszeniami

[2014-11-08 11:52] ghost commented on #21
Moduł znajduje się w osobnej gałęzi.

Użycie zwykłego pewniaka dla Gumtree:

[code]

Jeśli będzie to inny serwis to zostanie zwrócone ogłoszenie z pustą treścią- a nie **null**.

Rozbudowana wersja:

[code]

Działa to tak. Po pierwsze napisałem metodę, która z syfnego HTML wyciąga najbardziej znaczące części, które potencjalnie mogą być ogłoszeniami i każde z nich rozmieszcza w osobnej linii. Doda

[2014-11-08 11:54] ghost commented on #21
Napiszę do tego dokumentacje o co wgl chodzi i ja bym to tak zostawił, bo już nie mam na to siły tak szczerze. Problem nie jest łatwy ale mając więcej czasu można by go było udoskonalić i to znacznie.

I jeszcze jedno - napisałem na szybko programik GUICollector, któremu jak się poda linka to pobiera te cechy, wrzuca w combobox i po wybraniu co jest ogłoszeniem zapisuje to w bazie + antyoferty też

[2014-11-08 11:54] #21 closed, assigned to nobody

[2014-11-10 09:30] #23 closed, assigned to nobody

[2014-11-11 08:27] konik32 opened #24 "W zwracanych ogłoszeniach znajdują się znaczniki html"
Przykładowe ogłoszenia, które zapisują się w bazie:
1. `<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">`
2. `<head>`
3. `<head><meta name='DCSext.loc1' content='gumtree.pl'>`
4. `Serwis opon, wulkanizacja, wymiana opon 50 zł<br/><br/>opony używane FULDA, MICHELIN, KLEBER,<br/>GOODYEAR, DĘBICA, DUNLOP, HANKOOK<br/><br/>Przechowanie OPON sezon k

[2014-11-11 10:42] ghost commented on #24
Wcale nie, zarówno dla jednego jak i do drugiego: ![6](https://cloud.githubusercontent.com/assets/7264775/4991690/028682c2-6997-11e4-9a02-454440453c03.png)

I nie wiem wgl jakim cudem, bo pod uwagę brane są tylko div'y. Napisz dokładnie o co Ci chodzi i w jakiej bazie bo ich jest 3.

wpis w /db/offer/ u mnie - "serwis opon, wulkanizacja, wymiana opon 50 zł opony używane fulda, michelin, kleber, go

[2014-11-11 13:37] konik32 commented on #24
A zmergowałeś branche?

[2014-11-11 14:50] ghost commented on #24
Nie, to siedzi na SvmApproach, a nie na master

[2014-11-11 17:35] konik32 commented on #24
Jeśli działa i jestes zadowolony z efektów to zmerguj.

[2014-11-11 17:38] konik32 commented on #24
Jest tylko jeden problem. Ta sama oferta przechowywana jest w trzech różnych miejscach. Dasz radę korzystać w algo z bazy serwera?

[2014-11-11 17:40] konik32 opened #25 "Mail do prowadzącego"
Realizujemy projekt Poszukiwacz ofert. Projekt ten podzieliliśmy na kilka modułów:
1. Serwer - postawiony na jettym, uruchamia się jako zwykła aplikacja nie wymagająca deployowania. Udostępnia RESTowe api poprzez, które komunikuje się z klientem (przykład zapytania /api/offers?keywords=mieszkanie kraków)
2. WebCrawler - moduł odpowiedzialny za przechodzenie zadanej strony internetowej i wydzielani

[2014-11-11 17:40] konik32 commented on #25
Odpowiedź:

Formalnie nie były to wymagania, ale proponowana konstrukcja jest
akceptowalna. Jedna uwaga: powinna być możliwość ustawienia 'alertów'
- możliwości uzyskania informacji (migająca ikonka czy coś podobnego)
  jeżeli pojawi się oferta zgodna ze zdefiniowanymi potrzebami użytkownika.

[2014-11-11 21:16] ghost commented on #24
nie, bo potrzebny jest zarowno zbior uczacy negatywny oraz pozytywny i to jest wiele malych pliczkow, ktore na dysku szybko sie przetworza, a w bazie bedzie mega syf, jak chcesz to mozna wywalic przechowywanie oryginalnych stron, bo i tak z tego nikt narazie nie korzysta ;)

[2014-11-12 14:48] bambalooon commented on #1
Jaki jest ostateczny termin oddania projektu?
Zrobiłby ktoś milestone, żeby nikt nie miał w przyszłości wątpliwości?

[2014-11-12 15:32] konik32 opened #26 "Ostatni etap"
Do niedzieli chciałbym mieć wszystkie moduły gotowe.
- @bartQH zmerguj jak najszybciej branche
- @jacek22227 zróbcie klienta bo bez tego nie mamy nic. Klient ma wyświetlać oferty, statystyki i alert jeśli pojawiły się nowe oferty z jego keywordsami.
- zróbcie dokumentacje swoich modułów

[2014-11-12 15:33] konik32 commented on #20
Zmieniła się odpowiedź /api/offers: `{"content":[],"last":true,"totalElements":0,"firstPage":true,"totalPages":0,"lastPage":true,"size":20,"number":0,"sort":null,"first":true,"numberOfElements":0}`

[2014-11-13 19:48] bambalooon commented on #26
SvmApproach zmergowany do mastera.

[2014-11-15 15:47] bambalooon commented on #26
Dodałem instalatory:
https://www.dropbox.com/sh/rx9fwc80gy581tf/AABcVRJ6qEmCHl-v55dVzRyna?dl=0

Testowałem ten na Windowsa, działa ok, raz mi się zdarzyło, że wywaliło Exception, ale odpaliłem drugi raz i już hulało.
Jak macie możliwość to sprawdźcie na linuxie przede wszystkim, na windowsie też się przyda.

[2014-11-15 23:05] rampler commented on #26
Dobrze by było gdyby http://localhost:8080/api/offers?keywords="cokolwiek" zwracał jakiekolwiek oferty - na razie content zawsze jest pusty, co trochę utrudnia przetestowanie, czy dobrze parsuje się json po stronie klienta i w ogóle ich wyświetlanie.

Również uzupełnienie trochę bazy przed pokazaniem mu nie byłoby chyba złym pomysłem, by znów nie robił problemów, że "nic nie widzi" :)

btw.
Zauważ

[2014-11-15 23:30] konik32 commented on #26
Do przetestowania najlepiej jakbys odpalił sobie crawlera żeby pobrał 1000 ofert a potem pageprocessora i bazka się uzupełni. Możesz to zrobic ustawiając crony w application.properties.

Jakie exceptiony dasz rade je tutaj wkleić?

[2014-11-15 23:43] rampler commented on #26
To spróbuje zrobić jak mówisz, choć nie powinno to sie robić automatycznie?
Czy po prostu przed oddaniem sie zmieni crony?

Właśnie zapomniałem skopiować przed restartem serwera - jakby sie jeszcze
pojawiły to wkleję tutaj.
16 lis 2014 00:30 "konik32" notifications@github.com napisał(a):

[2014-11-16 07:02] konik32 commented on #26
Co masz na mysli przez automatycznie? Algorytmy bd sie uruchamiac o okreslonej w cronie godzinie. Jak bd oddawac to ustawi sie 3.00 dla jednego a 4.00 dla drugiego. Moge zrobic tak zeby algorytm odpalil sie raz przy starcie serwera ale wydaje mi sie to bez sensu. Przy oddawaniu pokazemy mu na swoim kompie gdzie bd juz cos w bazie.

[2014-11-16 07:04] #25 closed, assigned to nobody

[2014-11-16 07:04] #18 closed, assigned to nobody

[2014-11-16 07:12] konik32 commented on #20
Uwzglednijcie dodawanie domen POST /api/domains parametr url oraz tego alerta na zasadzie zapisujecie slowa kluczowe i timestampa ostatniego pobrania ofert pomiedzy kolejnymi uruchomieniami apki i przy kazdym uruchomieniu sprawdza czy jest cos nowego. Jak wroce do krk to dodam timestampa jako parametr.

[2014-11-16 10:42] konik32 commented on #26
Dodatkowo wszelkie properties można ustawiać jako parametry startowe np. `--offerseeker.schedule.pageProccessing.cron="coś tam"`

[2014-11-16 10:50] konik32 commented on #26
Te exceptiony poprawiłem chodziło o za wczesne zamykanie sesji

[2014-11-16 12:25] konik32 commented on #20
Zmienił się model oferty, dodałem timestampa dlatego trzeba wyczyścić baze z ofert i usunąć folder `/user_home/offer_seeker/lucene` i pobrac oferty jeszcze raz.

[2014-11-16 14:24] rampler commented on #26
Jeszcze jedno pytanie - czemu w wszystkich ofertach zwracany url jest null? Nie zostało coś zgubione przypadkiem?

[2014-11-16 15:14] konik32 commented on #26
Poprawiłem, ale url będzie dodawany do następnych offert

[2014-11-21 00:40] #1 closed, assigned to nobody

[2014-11-21 00:40] #5 closed, assigned to jacek22227

[2014-11-21 00:40] #6 closed, assigned to nobody

[2014-11-21 00:40] #7 closed, assigned to nobody

[2014-11-21 00:40] #8 closed, assigned to nobody

[2014-11-21 00:40] #11 closed, assigned to gkostalkowicz

[2014-11-21 00:40] #13 closed, assigned to nobody

[2014-11-21 00:40] #20 closed, assigned to jacek22227

[2014-11-21 00:40] #22 closed, assigned to gkostalkowicz

[2014-11-21 00:40] #24 closed, assigned to nobody

[2014-11-21 00:40] #26 closed, assigned to nobody

[2014-11-21 00:42] konik32 opened #27 "Statystyki nie działają"
Nie wyświetlają się statystyki, pobiera je ale ich nie widać.

[2014-11-21 00:43] konik32 opened #28 "PageProcessor - usunąć dodawanie do folderu orig"

[2014-11-21 00:45] konik32 opened #29 "WebCrawler - ciągle szuka w tej samej domenie."
Crawler jest wywoływany w pętli za każdym razem dla innej domeny, a ciągle szuka tylko w pierwszej. Wygląda na to jakby pomiędzy wywołaniami cralwera był zapamiętywany jego stan.

[2014-11-21 06:03] rampler commented on #27
U mnie działają. Jakieś większe info jak odświeżyć błąd? I skąd wiesz, że
pobiera, a tylko nie wyświetla?
21 lis 2014 01:42 "konik32" notifications@github.com napisał(a):

[2014-11-21 06:45] rampler commented on #27
Sprawdzam na bazie otrzymanej z fb i mianowicie po pierwsze nie ma z niej żadnych ofert. Jak nie ma żadnych ofert to nie można kliknąć Tak/Nie przez co nie ma też statystyk. Statystyki odnoszą się do aktywności użytkownika i ile razy kliknął Tak/Nie, a nie do ilość ogłoszeń ogólnie.

Ponadto wywala mi wyjątek:
2014-11-21 07:41:35.109  INFO 7676 --- [pool-2-thread-1] o.s.b.c.l.support.SimpleJobLaun

[2014-11-21 09:23] bambalooon commented on #27
Ten błąd wyskakuje jak w {user.dir}/offer_seeker/db nie ma plików do treningu PageProcessora, nie ma z czego się z czego uczyć i wywala IndexOutOfBounds..

[2014-11-21 09:33] konik32 commented on #27
Jedyne co usunąłem z folderu db to te pliki umieszcone w orig, ale sprawdzałem i u mnie działało normalnie.

[2014-11-22 10:50] rampler commented on #27
Ok znalazłem błąd - baza jest ok - źle przekopiowałem.
A błąd z statystykami polegał na tym, że jeżeli jest jeden dzień to nie rysuje lini, ponieważ puktStartowy = punktKońcowy i nie widać go wtedy. Wystarczy, że dziś odpaliłem i automatycznie pokazuje się linia pomiędzy dniami. Jakby nie patrzeć w sumie to błędem nie jest tylko za wąskim zakresem przeszukiwań.
Mogę spróbować to zmienić, jak chcec

[2014-11-23 10:31] gkostalkowicz commented on #29
Wrzuciłem poprawkę, błąd naprawiony. Mam nadzieję że będzie się wszystko buildowało.

Ponieważ wynikało to z błędu w crawler4j najnowszym wydanym (3.5), ściągnąłem najnowszy kod z ich repo i włączyłem go jako źródło do naszego projektu.

Potencjalne problemy jakie trzeba mieć na uwadze to:
1. Zaktualizowana wersja biblioteki, więc zachowanie trochę się zmieniło (ale powinno wszystko działać, weryf

[2014-11-25 06:55] ghost commented on #28
Już zrobione jak coś + te poprawki o których rozmawialiśmy

[2014-11-25 14:03] #27 closed, assigned to rampler

[2014-11-25 14:03] #29 closed, assigned to gkostalkowicz

[2015-07-31 07:47] #28 closed, assigned to nobody